name: Build packages
on:
  push:
    tags:
      - '**'
env:
  HOME: "/root"
jobs:
  build-linux:
    runs-on: ubuntu-latest
    container:
      image: lockie/docker-lisp-gamedev:latest
      options: --user root
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
      - name: Setup
        run: ln -s `pwd` /root/quicklisp/local-projects/
      - name: Build package
        run: ./package.sh linux
      - name: Archive package
        uses: actions/upload-artifact@v3
        with:
          name: linux
          path: '*.AppImage'
          if-no-files-found: error
  build-windows:
    runs-on: ubuntu-latest
    container:
      image: lockie/docker-lisp-gamedev:windows
      options: --user root
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
      - name: Setup
        run: ln -s `pwd` /root/.wine/drive_c/users/root/quicklisp/local-projects/
      - name: Build package
        # NOTE: Github actions fuck up Docker's ENTRYPOINT, hence this atrocity
        run: set +e; . /opt/quasi-msys2/env/all.src; WINEPATH="/ucrt64/bin;C:\Program Files (x86)\NSIS" PKG_CONFIG_PATH="Z:/ucrt64/lib/pkgconfig" wine busybox sh ./package.sh windows
      - name: Archive package
        uses: actions/upload-artifact@v3
        with:
          name: windows
          path: '*.exe'
          if-no-files-found: error
  release:
    runs-on: ubuntu-latest
    needs: [build-linux, build-windows]
    steps:
      - name: Download artifacts
        uses: actions/download-artifact@v3
      - name: Release
        uses: ncipollo/release-action@v1
        with:
          artifacts: "linux/*.AppImage,windows/*.exe"
          omitBody: true
          allowUpdates: true
          artifactErrorsFailBuild: true
